{% extends "home/base.html" %} {%load static%} 
{%block title%} 
    eShop-My Listings
{%endblock title%} 

{%block style%}
<link rel="stylesheet" href="{% static 'css/orders.css' %}"/>
{%endblock style%} 

{%block path%}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Orders</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
{%endblock path%}


{% block body %}
<div class="cart_section" id="main">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cart_container">
                  <div class="cart_title">Orders<small> ({{orders|length}}) </small></div>
                  <div class="cart_items">
                      <ul class="cart_list">
                        {%for order in orders%}
                          <li onclick="window.location.href={% url 'product_detail' order.product.slug %}" class="cart_item my-2 clearfix">
                              <div class="cart_item_image"><img src="{{order.product.product_image.url}}" alt=""></div>
                              <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                  <div class="cart_item_name cart_info_col">
                                      <div class="cart_item_title">Name</div>
                                      <div class="cart_item_text">{{order.product.title}}</div>
                                  </div>
                                  <div class="cart_item_color cart_info_col">
                                      <div class="cart_item_title">Delivery Status</div>
                                      <div class="cart_item_text"><span style="background-color:#999999;"></span>{{order.status}}</div>
                                  </div>
                                  <div class="cart_item_quantity cart_info_col">
                                      <div class="cart_item_title">Quantity</div>
                                      <div class="cart_item_text">{{order.quantity}}</div>
                                  </div>
                                  <div class="cart_item_price cart_info_col">
                                      <div class="cart_item_title">Price</div>
                                      <div class="cart_item_text">{{order.product.price}}</div>
                                  </div>
                                  <div class="cart_item_total cart_info_col">
                                      <div class="cart_item_title">Total</div>
                                      <div class="cart_item_text">{{order.order_amount}}</div>
                                  </div>
                              </div>
                          </li>
                        {%endfor%}          
                      </ul>
                  </div>
                  
                  <div class="cart_buttons"> <button type="button" onclick="window.location.href='/'" class="button cart_button_clear">Continue Shopping</button> </div>
              </div>
              
          </div>
      </div>
  </div>
</div>

{% endblock body %}

{%block script%}

{%endblock script%}