{% extends "home/base.html" %}
{%load static%}
{%block title%}
    eShop-Login
{%endblock title%}

{% block path %}
{% endblock path %}

{%block body%}
<div class="row m-auto">
  <div class="w-50 m-auto" id="form">

      <h1>LogIn</h1> 
      <form method="POST" action="/login">
      {% csrf_token %}
          <div class="mb-4">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>   
          </div>
          <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>   
          </div>
          <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>          
      </form>
      <br>
      <a href="/register">Register</a>
      
  </div>
</div>
{%endblock body%}