
.confirmation_part .confirmation_tittle {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-bottom: 35px;
}

.confirmation_part .confirmation_tittle span {
  color: #2577fd;
}

.confirmation_part .single_confirmation_details {
  background-color: rgb(238, 244, 222);
  padding: 35px 40px;
}

@media (max-width: 991px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 30px;
  }
}

.confirmation_part .single_confirmation_details h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.confirmation_part .single_confirmation_details ul li {
  list-style-type: none;
  position: relative;
  text-transform: capitalize;
  padding-left: 55%;
  margin-bottom: 3px;
}

.confirmation_part .single_confirmation_details ul li p {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 21px;
  color: #777777;
}

/* line 41, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_confirmation_part.scss */
.confirmation_part .single_confirmation_details ul li span {
  color: "Poppins", sans-serif;
}

/* line 47, ../../SAIFUL/Running_project/250 eCommerce_HTML/250 eCommerce_HTML/250 eCommerce_HTML/assets/scss/_confirmation_part.scss */
.confirmation_part .order_details_iner {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  background-color: #f7f7f7;
  padding: 30px 30px 15px;
  text-transform: capitalize;
}

.confirmation_part .order_details_iner h3 {
  font-size: 18px;
}

.confirmation_part .order_details_iner .table thead th {
  color: "Poppins", sans-serif;
  font-size: 16px;
}

.confirmation_part .order_details_iner span {
  color: #777777;
}

.confirmation_part .order_details_iner thead {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.confirmation_part .order_details_iner tfoot {
  border-top: 1px solid #dddddd;
}

.confirmation_part .order_details_iner th {
  font-weight: 500;
}